@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root{
  --primary-color: #F4B24F;
  --darker-primary-color: #DA8505;
  --txt-primary-color: #79162A;

  --secondary-color: #a81fba;
  --darker-secondary-color: #73137f;
  --txt-secondary-color: #ffffff;

  --tertiary-color: #3FC6E3;
  --darker-tertiary-color: #39ABC5;
  --txt-tertiary-color: #4f1985;

  --correct-color: #59df6d;
  --darker-correct-color: #39c540;
  --mistake-color: #df5959;
  --darker-mistake-color: #c53939;
}

html, body {
  width: 100%;
  height: 100%;
}

html,body {
  @apply bg-[#2D30F0]
}  
